
name: Build on Ubuntu

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DPICO_SDK_FETCH_FROM_GIT=ON -DPICO_SDK_FETCH_FROM_GIT_PATH=pico-sdk -DPICO_SDK_PATH=pico-sdk ..
          make

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: ${{github.workspace}}/build/picoave.elf
